:root {
    --dark: #1f2641;
    --white: #e8e8e8;
    --white-opacity: rgb(232, 232, 232, .3);
    --border-radius: 10px;
    --box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, .3);
    --highlight-color: #ffbf82;
}

@font-face {
    font-display: swap; 
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: url('../Files/Fonts/lato-v24-latin-regular.woff2') format('woff2'); 
  }

  @font-face {
    font-display: swap; 
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    src: url('../Files/Fonts/lato-v24-latin-700.woff2') format('woff2'); 
  }

h1, .h1, h2, .h2, h3, .h3 {margin: 0px;}
p {margin-bottom: 0;}

h1, .h1 {font-size: 30px;}
h2, .h2 {font-size: 22px;}
h3, .h3 {font-size: 18px;}

body {
    background-color: var(--dark);
    color: white;
    font-family: 'Lato';
    padding: 0;
    margin: 0;


}

.container {
    max-width: 1200px;
    padding: 0px 30px;
    margin: 0 auto;
    position: relative;
    z-index: 2;
}

.wrapper {padding: 30px 0px;}

.glassy {
    background: rgba(255, 255, 255, 0.1);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid var(--white);
}

.vid-mobile {display: none;}

.socials-wrapper {
  display: flex;
  justify-content: center;
  column-gap: 15px;
  margin-top: 30px;
}

.social-icon-wrapper {height: 28px;}
.social-icon {height: 20px; transition: height 0.3s ease}
.social-icon:hover {height: 25px;}

.glassy:hover {
    background: rgba(255, 255, 255, 0.12);
    backdrop-filter: blur(5px);
}

.highlight {
    font-weight: bold;
    border-radius: 10px;
    padding: 5px 15px;
    color: var(--white);
    text-decoration: none;
    font-size: 16px;
    background-color: #ffffff52;
    width: fit-content;
    margin: 0 auto;
    border: 1px solid var(--white);
}



.btn {

}

.btn:hover {
    border-radius: 999px;
}

.wrapper {
    display: grid;
    grid-template-columns: 270px 1fr;
    gap: 15px;
}

.details__wrapper {
    position: sticky;
    top: 30px;
    display: flex; 
    flex-direction: column;
    row-gap: 30px;
    align-items: center;
    height: fit-content;

}

.details__wrapper {padding: 30px;}
.info__wrapper--intro {padding: 30px 30px 0 30px; max-width: 600px;}
.info__wrapper--intro p:last-child {margin-bottom: 0;}
.info__wrapper--section:first-child {padding: 0px 30px;}
.info__wrapper--section:nth-child(2) {padding: 0px 30px 0px 30px;}
.info__wrapper--section:nth-child(3) {padding: 0px 0px 0px 0px;}
.info__wrapper--section:nth-child(4) {padding: 0px 30px}
.info__wrapper--section:nth-child(5) {padding: 0px 30px 30px;}
.info__wrapper--section:nth-child(6) {padding: 0px 30px 30px;}


.details__wrapper--intro {text-align: center; display: flex; flex-direction: column; justify-content: center; row-gap: 15px; padding-bottom: 15px; border-bottom: 2px solid var(--white);}
.details__wrapper--details {display: flex; flex-direction: column; row-gap: 30px;}

.details__wrapper--item {text-decoration: none; display: flex; column-gap: 15px; color: var(--white); }
.details__wrapper--item__icon {height: 20px; fill: var(--white);}
.details__wrapper--item__details {display: flex; flex-direction: column;}
.details__wrapper--item__details span.link {font-weight: bold;}

.info__wrapper--section-item {transform: scale(1); opacity: 1;   transition: transform .5s ease-in-out;}
.info__wrapper--section-item-wrapper .info__wrapper--section-item:hover,
.info__wrapper--section-item-wrapper .info__wrapper--section-item:focus, {opacity: 1; transform: scale(1);}
.info__wrapper--section-item-wrapper:hover .info__wrapper--section-item:not(:hover),
.info__wrapper--section-item-wrapper:focus .info__wrapper--section-item:not(:focus) {opacity: .5; transform: scale(.95);}

.info__wrapper {    display: flex;flex-direction: column; row-gap: 30px; overflow: hidden;} 
.info__wrapper--section-item-wrapper {display: grid; grid-template-columns: 1fr 1fr; gap: 15px; margin-top: 15px; }



.info__wrapper--section-item {display: flex; column-gap: 10px; row-gap: 10px;  background-color: #ffffff1a; padding: 15px; border-radius: var(--border-radius); border: 1px solid var(--white-opacity); }
.info__wrapper--section-item.vertical {flex-direction: column; min-width: 350px; display: flex;}
.info__wrapper--section-item:hover {border: 1px solid var(--white)}
.info__wrapper--section-icon {height: 30px; width: 30px; min-height: 30px; min-width: 30px; fill: var(--highlight-color)}
.info__wrapper--section-item-desc {margin-top: 3px;}

.testimonial-wrapper {margin-top: 30px;}
.testimonials-header {margin-left: 30px;}

.testimonial-wrapper li { padding: 30px;}

.testimonial-person {display: flex; align-items: center; column-gap: 15px;}

.testimonial-person img { height: 70px;}

.testimonial-description {font-style: italic;}
.testimonial-description strong {color: var(--highlight-color)}

.splide__slide {transform: scale(1); opacity: 1;   transition: transform .5s ease-in-out;}
.splide__list .splide__slide:hover {opacity: 1; transform: scale(1);}
.splide__list:hover .splide__slide:not(:hover) {opacity: .5; transform: scale(.95);}

.experience-slider .splide__slide {display: flex; flex-direction: row; padding: 30px; row-gap: 15px; column-gap: 15px;     align-items: center; }
.experience-logo img {height: 50px;}


.hover-container {position: relative;}


.hover-reveal {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../Files/Images/code.avif');
    background-size: cover;
    background-position: center;
    z-index: 1; 
    mask: radial-gradient(circle 100px at var(--mouse-x) var(--mouse-y), rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
    transition: mask 1s ease-in-out;
    opacity: .3;
}

.hover-container:hover .hover-reveal {
    mask: radial-gradient(circle 400px at var(--mouse-x) var(--mouse-y), rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));

}

#myVideo {margin-bottom: -30px;}

#str {font-size: 14px;}


.accordion {
    padding: 30px 0px;
  }
  .accordion-wrapper {
      width: 100%;
      width: 820px;
      height: 340px;
      display: flex;
      gap: 10px;
      max-width: 100%;

    }
  
  .accordion img {
    width: 100%;
    height: 100%;
    display: block;
  }
  
  
  .accordion .card {
    min-width: 70px;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
  
    display: flex;
    align-items: flex-end;
    flex-grow: 1;
    cursor: pointer;
    position: relative;
    transition: flex-grow 2s cubic-bezier(0.16, 1, 0.3, 1);
    --transition-timing: 0.35s;
  }
  
  .accordion .card:hover {
    flex-grow: 7;
  }
  
  .accordion .card > .background {
    position: absolute;
    inset: 0;
    object-fit: cover;
    object-position: top;
    filter: brightness(0.4);
    z-index: -1;
    transition: filter 0.35s ease, object-position 6s ease;
  }
  .accordion .card:hover > .background {
    filter: brightness(1);     object-position: top;
  }
  
  .accordion .card > .card-content {
    display: flex;
    align-items: center;
    position: absolute;
    left: 10px;
    right: 10px;
    bottom: 20px;
    overflow: hidden;
    transition: 0.35s;
    z-index: 10;
  }
  
  .accordion .card-content svg {height: 25px;}
  
  .accordion .card:hover > .card-content {
    inset: 20px;
    top: auto;
  }
  
  .accordion .card-content > * {
    transition: 0.35s;
  }
  
  .accordion .card-content > .profile-image {
    min-width: 40px;
    max-width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    overflow: hidden;
  }

  .accordion .profile-image > svg {
    stroke: #fefefe;
  }
  .accordion .card:hover .profile-image > svg {
    stroke: rgb(110, 252, 205);
  }
  
  .accordion .card-content > .title {
    white-space: pre;
    margin-left: 10px;
    translate: 0 100%;
    opacity: 0;
    color: white;
  }
  .accordion .card:hover .title {
    opacity: 1;
    translate: 0 0;
    color: rgb(110, 252, 205);
  }
  
  .accordion .card > .backdrop {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100px;
    z-index: 0;
    background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.7));
  }


  .myvideo-wrapper {
    position: relative; z-index: 2;
  }

  .myvideo-wrapper::before {
    position: absolute;
    z-index: -1;
    height: 175px;
    width: 175px;
    content: "";
    display: block;
    background-color: #00000026;
    border-radius: 9999px;
    top: -5px;
    margin: 0 auto;
    left: 40px;  }




    .btn-group {
      display: flex;
      gap: 0.375em;
      margin-bottom: 1.5em;
    }

    .btn-group .highlight {margin: 0; margin-top: 30px;}
    
    .timeline {
  
      width: 100%;

    }
    .timeline__arrow {
      background-color: transparent;
      color: white;
      border-radius: 0.25em;
      cursor: pointer;
      flex-shrink: 0;
      margin-inline-end: 0.25em;
      outline: transparent;
      border: none;
      width: auto;
      height: 1px;
      position: relative;
      top: 3px;
      transition: background-color calc(var(--trans-dur) / 2) linear, color var(--trans-dur);
      -webkit-appearance: none;
      appearance: none;
      -webkit-tap-highlight-color: transparent;
    }

    .timeline__arrow-icon {
      display: block;
      pointer-events: none;
      transform: rotate(-90deg);
      transition: transform var(--trans-dur) var(--trans-timing);
      width: 100%;
      height: auto;
    }
    .timeline__date {
      font-size: 0.833em;
      line-height: 2.4;
    }
    .timeline__dot {
      background-color: var(--highlight-color);
      border-radius: 50%;
      display: inline-block;
      flex-shrink: 0;
      margin: 0.625em 0;
      margin-inline-end: 1em;
      position: relative;
      width: 0.75em;
      height: 0.75em;
    }
    .timeline__item {
      position: relative;
      padding-bottom: 2.25em;
    }
    .timeline__item:not(:last-child):before {
      background-color: currentColor;
      content: "";
      display: block;
      position: absolute;
      top: 1em;
      left: 46px;
      width: 1px;
      height: 100%;
      transform: translateX(-50%);
    }
    [dir="rtl"] .timeline__arrow-icon {
      transform: rotate(90deg);
    }
    [dir="rtl"] .timeline__item:not(:last-child):before {
      right: 2.625em;
      left: auto;
      transform: translateX(50%);
    }
    .timeline__item-header {
      display: flex;
    }
    .timeline__item-body {
      border-radius: 0.375em;
      overflow: hidden;
      margin-top: 0.5em;
      margin-inline-start: 4em;
      height: 0;
    }
    .timeline__item-body-content {
      background-color: hsl(var(--hue),10%,50%,0.2);
      opacity: 0;
      padding: 0.5em 0.75em;
      visibility: hidden;
      transition:
        opacity var(--trans-dur) var(--trans-timing),
        visibility var(--trans-dur) steps(1,end);
    }
    .timeline__meta {
      width: 100%;
    }
    .timeline__title {
      font-size: 1.5em;
      line-height: 1.333;
    }
    /* Expanded state */
    .timeline__item-body--expanded {
      height: auto;
    }
    .timeline__item-body--expanded .timeline__item-body-content {
      opacity: 1;
      visibility: visible;
      transition-delay: var(--trans-dur), 0s;
    }
    .timeline__arrow[aria-expanded="true"] .timeline__arrow-icon {
      transform: rotate(0);
    }
    



    
  
  @media (max-width: 768px) {
      .accordion-wrapper {
          flex-direction: column;
          height: 100%;
      }
      .accordion .card {min-height: 100px; transition: height 0.5s ease-in-out }
      .accordion .card-content > .title {
          white-space: pre;
          margin-left: 10px;
          translate: 0 0;
          opacity: 1;
          color: white;
        }
      .accordion .card:active, .card:focus  {height: 400px; transition: min-height 2s ease-in-out}
      .accordion .card:active .title,  .card:focus .title {
          opacity: 1;
          translate: 0 0;
          color: rgb(110, 252, 205);
        }
        .accordion .card:active > .background, .card:focus > .background  {
          filter: brightness(1);
        }
        .accordion .card > .backdrop {
          height: 150px;
  }
}


@media (max-width: 1024px) {
  .wrapper {grid-template-columns: 1fr;}
  .details__wrapper {position: inherit; flex-direction: row; justify-content: center; column-gap: 60px;}
  .details__wrapper--intro {border-bottom: 0;}
  .info__wrapper--section-item-wrapper {grid-template-columns: 1fr;}

}


@media (max-width: 738px) {
  .container {padding: 0px 10px;}
  .vid-mobile {display: block;}
  .vid-desktop {display: none;}
  .details__wrapper {flex-direction: column;}
  .details__wrapper {padding: 30px;}
.info__wrapper--intro {padding: 30px 15px 0 15px;}
.info__wrapper--intro p:last-child {margin-bottom: 0;}
.info__wrapper--section:first-child {padding: 0px 15px;}
.info__wrapper--section:nth-child(2) {padding: 0px 15px 0px 15px;}
.info__wrapper--section:nth-child(3) {padding: 0px 0px 0px 0px;}
.info__wrapper--section:nth-child(4) {padding: 0px 15px}
.info__wrapper--section:nth-child(5) {padding: 0px 15px 30px;}
.info__wrapper--section:nth-child(6) {padding: 0px 15px 30px;}

}